
<table id="table_modifications" class="scroll">
  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Pedido</th>
      <th>Prioridad</th>
      <th>Tipo</th>
      <th>Solicitud</th>
      <th>Usuario</th>
      <th>Estado</th>
      <th>Fecha de creacion</th>
      <th>REALIZADA</th>
    </tr>
  </thead>

  <tbody>
    <% @modifications.each do |modification| %>
      <tr>
        <td>
          <%if modification.viewed %>
            <%class_for_link = "icon icon-email"%>
          <%else%>
            <%class_for_link = "icon icon-email-unread"%>
          <%end%>
          <%=link_to '',modification, class:"#{class_for_link}"%>
        </td>
        <td><%= link_to modification.id, modification %></td>
        <td>K<%= modification.order.order_number %></td>
        <td><%= modification.priority.upcase %></td>
        <td><%= modification.modification_type %></td>
        <td><%= modification.body.truncate(20) %> <%=link_to 'Ver más', modification%></td>
        <td><%= modification.user.name_email %></td>
        <td><%= modification.state.upcase %></td>
        <td><%= modification.created_at.strftime("%F %I:%M%p") %></td>
        <td><%= format_expression( modification.executed ) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function() {
      $('#table_modifications').DataTable({
        "language": {
          "lengthMenu":     "Mostrar _MENU_ modificaciones",
          "info": "Mostrando _START_ hasta _END_ de _TOTAL_ modificaciones",
          "search":         "Buscar:",
          "zeroRecords":    "Modificacion no encontrada",
          "loadingRecords": "Cargando...",
        "processing":     "Procesando...",
           "paginate": {
            "first":      "Primero",
            "last":       "Ultimo",
            "next":       "Siguiente",
            "previous":   "Anterior"
        }
        }
      });
  } );
</script>
