<p class="subtitle">Informacion de procesos</p>
<table class="scroll">
  <thead>
    <tr>
      <th>ID</th>
      <th>Pedido</th>
      <th>Cantidad</th>
      <th>Proceso</th>
      <th>Maquina</th>
      <th>Estandar</th>
      <th>UM Estandar</th>
      <th>Alistamiento (min)</th>
      <th>Tiempo (min)</th>
      <th>Fecha Dia</th>
      <th>Fecha de inicio</th>
      <th>Fecha de fin</th>
      <th>Secuencia</th>
      <th>Metros</th>
      <th>Estado</th>
      <th>Cantidad Finalizada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subprocesses.order(:sequence_process).each do |subprocess| %>
      <tr>
        <td><%= subprocess.id %></td>
        <td><%= link_to "K#{subprocess.order.order_number}", subprocess.order%></td>
        <td><%= subprocess.order.order_quantity%> <%= subprocess.order.order_um%></td>
        <td><%= subprocess.procedure.name %></td>
        <td><%= link_to subprocess.standard.machine.name,  subprocess.standard.machine%></td>
        <td><%= subprocess.standard.index %></td>
        <td><%= subprocess.standard.um %></td>
        <td><%= subprocess.setup_time %></td>
        <td><%= subprocess.minutes %></td>
        <td><%= subprocess.day.day unless subprocess.day_id.nil? %></td>
        <td><%= subprocess.start_date.strftime("%F") if  subprocess.start_date%></td>
        <td><%= subprocess.end_date.strftime("%F") if subprocess.end_date%></td>
        <td><%= subprocess.sequence_process %></td>
        <td><%= subprocess.meter %></td>
        
        <td><%= subprocess.state %></td>
        <td><%= subprocess.quantity_finished %></td>
        <td><% link_to 'Show', subprocess %></td>
        <td><% link_to 'Edit', edit_subprocess_path(subprocess) %></td>
        <td><% link_to 'Destroy', subprocess, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>