<p>
  <strong>Order:</strong>
  <%= @subprocess.order.order_number %>
</p>

<p>
  <strong>Procedure:</strong>
  <%= @subprocess.procedure.name %>
</p>
<p>
  <strong>Standard:</strong>
  <%= @subprocess.standard.index %>
</p>
<p>
  <strong>Machine:</strong>
  <%= @subprocess.standard.machine.name %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @subprocess.minutes %>
</p>
<p>
  <strong>Dia</strong>
  <%= @subprocess.day.day %>
</p>
<p>
  <strong>Start date:</strong>
  <%= @subprocess.start_date %>
</p>

<p>
  <strong>End time:</strong>
  <%= @subprocess.end_date %>
</p>

<p>
  <strong>Meter:</strong>
  <%= @subprocess.meter %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @subprocess.sequence %>
</p>

<p>
  <strong>State:</strong>
  <%= @subprocess.state %>
</p>

<%= link_to 'Edit', edit_subprocess_path(@subprocess) %> |
<%= link_to 'Back', subprocesses_path %>
