<p class="subtitle"><%=@machine.name%></p>
<div class="row">
	<div class="small-12 columns">
		<div class="row">
			<div class="small-2 columns">
				<div class="content-clipboard">
					<div id="result"></div>
				    <ul class="sortable" id="clipboard">
				    	<label id="labelItemClipboard">vacio</label>
				    </ul>
				</div>
			</div>

			<div class="small-10 columns">
				<div class="days">
					<%@machine.days.each do |day|%>
						<ul id="sortable<%=day.id%>" class="sortable connectedSortable" minutes="<%=day.minutes%>" minutes-available="" minutes-occupied="" day="<%=day.day%>">
							<div class="info_date"><label class="equivalence"></label></div>
							<div class="progress small-6 alert round">
								<span class="meter">
									<p class="percent"></p>
								</span>
							</div>
							
							<%day.subprocesses.each do |subprocess|%>
								<!-- ui-state-disabled #for bloqueados -->
						  		<li id="item_<%=subprocess.id%>" minutes="<%=subprocess.minutes%>" class="ui-state-default">
						  	 		K<%=subprocess.order.order_number%>
						  		</li>
						  	<%end%>
						</ul>
						
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>
