<%= form_for(@leftover) do |f| %>
  <% if @leftover.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leftover.errors.count, "error") %> prohibited this leftover from being saved:</h2>

      <ul>
      <% @leftover.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :order_origin %><br>
    <%= f.number_field :order_origin,readonly:"true" %>
  </div>
  <div class="field">
    <%= f.label :sheet_id %><br>
    <%= f.number_field :sheet_id,readonly:"true" %>
  </div>
  <div class="field">
    <%= f.label :sheet_version %><br>
    <%= f.number_field :sheet_version,readonly:"true" %>
  </div>
  <div class="field">
    <%= f.label :sheet_composite %><br>
    <%= f.text_field :sheet_composite,readonly:"true" %>
  </div>
  <div class="field">
    <%= f.label :um %><br>
    <%= f.text_field :um,readonly:"true" %>
  </div>
    <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity,readonly:"true" %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :location, "Ubicacion" %><br>
    <%= f.text_field :location %>
  </div>
<!-- departure_date -->
  <div class="field">
    <%= f.label :departure_date,"Fecha de salida"%><br>
    <%= f.text_field :departure_date, type:"date" %>
  </div>
  <div class="field">
    <%= f.label :disposition ,"Disposicion"%><br>
    <%= select("leftover","disposition", @dispositions.collect {|p| [p[:name]]},{include_blank:''}) %>
  </div>
  <div class="field">
    <%= f.label :place_origin ,"Lugar de origen"%><br>
    <%= select("leftover","place_origin", @hometowns.collect {|p| [p[:name]]},{include_blank:''}) %>
  </div>

  <div class="field">
    <%= f.label :state ,"Estado"%><br>
    <%= select("leftover","state", @states.collect {|p| [p[:name]]},{include_blank:''}) %>
  </div>
  <div class="field">
    <%= f.label :observation,"Observaciones"%>
    <%= f.text_area :observation%>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Actualizar",class:"button alert expand" %>
  </div>
<% end %>
