<table>
  <thead>
    <tr>
      <th>ID:</th>
      <th>Cantidad:</th>
      <th>Cantidad disponible:</th>
      <th>Um:</th>
      <th>Peso:</th>
      <th>Ubicacion:</th>
      <th>Pedido Origen:</th>
      <th>Ficha ID:</th>
    </tr>

  <tbody>
    <tr>
      <td>
        <%= @leftover.id %>
      </td>
      <td>
        <%= @leftover.quantity %>
      </td>
      <td>
        <%= @leftover.quantity_available %>
      </td>
      <td>        
        <%= @leftover.um %>
      </td>
      <td>        
        <%= @leftover.weight %>
      </td>
      <td>        
        <%= @leftover.location %>
      </td>
      <td>        
        <%= @leftover.order_origin %>
      </td>
      <td>        
        <%= @leftover.sheet_id %>
    </tr>
  </tbody>
    </thead>  
    <tr>
      <th>Ficha codigo:</th>
      <th>Ficha version:</th>
      <th>Fecha entrada:</th>
      <th>Disposicion:</th>
      <th>Ficha composicion:</th>
      <th>Lugar de origen:</th>
      <th>Estado:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      </td>
      <td>        
        <%= @leftover.sheet_code %>
      </td>
      <td>        
        <%= @leftover.sheet_version %>
      </td>
      <td>        
        <%= @leftover.entry_date %>
      </td>
      <td>        
        <%= @leftover.disposition %>
      </td>
      <td>        
        <%= @leftover.sheet_composite %>
      </td>
      <td>        
        <%= @leftover.place_origin %>
      </td>
      <td>        
        <%= @leftover.state %>
      </td>
    </tr>
  </tbody>
</table>
<%= render 'has_leftovers/list'%>
<%= link_to 'Edit', edit_leftover_path(@leftover) %> |
<%= link_to 'Back', leftovers_path %>
