<!-- Esta vista parcial es una version sin tanta contamicacion visual -->
<div id="foo"></div>
<form action=""method="get" accept-charset="utf-8">
  <label>Filtrar por estado:</label>
  <select name="state" required>
        <option></option>
        <option value="activo" <%="selected" if @state=="activo"%> >Activo</option>
        <option value="aprobado" <%="selected" if @state=="aprobado"%>>Aprobado</option>
        <option value="rechazado" <%="selected" if @state=="rechazado"%> >Rechazado</option>
        <option value="programado" <%="selected" if @state=="programado"%> >Programado</option>
        <option value="reprogramado" <%="selected" if @state=="reprogramado"%> >Reprogramado</option>
        <option value="en_proceso" <%="selected" if @state=="en_proceso"%> >En proceso</option>
        <option value="suspendido" <%="selected" if @state=="suspendido"%> >Suspendido</option>
        <option value="terminado" <%="selected" if @state=="terminado"%> >Terminado</option>
  </select>
  <button class="button postfix">Filtrar</button>
</form>
<table id="example" class="scroll" width="100%">
  <thead>
    <tr>
      <th>PEDIDO</th>
      <th>REPETICION</th>
      <th>FICHA</th>
      <th>CLIENTE</th>
      <th>CANTIDAD</th>
      <th>UM</th>
      <th>VALOR UNI</th>
      <th>FECHA SOLICITADA</th>
      <th>ESTADO</th>
      <th>RUTA</th>
      <th>FECHA INGRESO APS</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>PEDIDO</th>
      <th>REPETICION</th>
      <th>FICHA</th>
      <th>CLIENTE</th>
      <th>CANTIDAD</th>
      <th>UM</th>
      <th>VALOR UNI</th>
      <th>FECHA SOLICITADA</th>
      <th>ESTADO</th>
      <th>RUTA</th>
      <th>FECHA INGRESO APS</th>
    </tr>
    </tfoot>
  <tbody id="tbody_orders">
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to "K#{order.order_number}", order %></td>
        <td><%= order.repeat %></td>
        <td><%= "#{order.sheet_client}-#{order.sheet_number}" %></td>
        <td><%= order.outsourced_name %></td>
        <td><%= order.order_quantity %></td>
        <td><%= order.order_um %></td>
        <td><%= order.order_unit_value %></td>
        <td><%= order.order_date_request %></td>
        <td><%= order.state %></td>
        <td><%= order.sheet_route %></td>
        <td><%= order.created_at.strftime("%F %I:%M%p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

