<p class="subtitle">Informacion del pedido</p>
<table class="scroll">
  <tr>
    <td>
      <strong>Estado:</strong><br>
      <%= @order.state %>
    </td>
    <td>
      <strong>Numero pedido:</strong><br>
      <%= @order.order_number %>
    </td>

    <td>
      <strong>Cantidad:</strong><br>
      <%= @order.order_quantity %>
    </td>

    <td>
      <strong>Tipo:</strong><br>
      <%= @order.order_type %>
    </td>

    <td>
      <strong>Unidad medida:</strong><br>
      <%= @order.order_um %>
    </td>
    <td>
      <strong>Valor unitario:</strong><br>
      <%= @order.order_unit_value %>
    </td>

    <td>
      <strong>Peso:</strong><br>
      <%= @order.weight %>
    </td>

    <td>
      <strong>Repeticion:</strong><br>
      <%= @order.repeat %>
    </td>

    <td>
      <strong>Ruta:</strong><br>
      <%= @order.route.waste %>
    </td>

    <td>
      <strong>Metros Programados:</strong><br>
      <%= @order.scheduled_meters %>
    </td>
  </tr>
  <tr>

    <td>
      <strong>Fecha solicitada:</strong><br>
      <%= @order.order_date_request %>
    </td>

    <td>
      <strong>Fecha Ofrecida:</strong><br>
      <%= @order.date_offer %>
    </td>

    <td>
      <strong>Cliente:</strong><br>
      <%= @order.outsourced_id %> | 
      <%= @order.outsourced_name %>
    </td>

    <td>
      <strong>Tolerancia- :</strong><br>
      <%= @order.outsourced_tolerance_down %>
    </td>

    <td>
      <strong>Tolerancia+ :</strong><br>
      <%= @order.outsourced_tolerance_up %>
    </td>

    <td>
      <strong>Calibre:</strong><br>
      <%= @order.sheet_caliber %>
    </td>

    <td>
      <strong>Ficha:</strong><br>
      <%= @order.sheet_client %> - <%= @order.sheet_number %>
    </td>
    <td>
      <strong>Ficha version:</strong><br>
      <%= @order.sheet_version %>
    </td>
    <td>
      <strong>Composicion:</strong><br>
      <%= @order.sheet_composite %>
    </td>

    <td>
      <strong>Tipo corte:</strong><br>
      <%= @order.sheet_cut_type %>
    </td>

  </tr>
  <tr>
    <td>
      <strong>Pelicula:</strong><br>
      <%= @order.sheet_film %>
    </td>
    <td>
      <strong>Guillotinado:</strong><br>
      <%= @order.sheet_guillotine %>
    </td>

    <td>
      <strong>Largo:</strong><br>
      <%= @order.sheet_height %>
    </td>

    <td>
      <strong>Ancho:</strong><br>
      <%= @order.sheet_width %>
    </td>

    <td>
      <strong>Largo planeado:</strong><br>
      <%= @order.sheet_height_planned %>
    </td>

    <td>
      <strong>Ficha ID:</strong><br>
      <%= @order.sheet_id %>
    </td>

    <td>
      <strong>Metros de rollo:</strong><br>
      <%= @order.sheet_meters_roll %>
    </td>
    <td>
      <strong>Impreso:</strong><br>
      <%= @order.sheet_print %>
    </td>

    <td>
      <strong>Tipo de producto:</strong><br>
      <%= @order.sheet_product_type %>
    </td>

    <td>
      <strong>Cabidas:</strong><br>
      <%= @order.sheet_spaces %>
    </td>
  </tr>
  <tr>
    <td colspan="8">
      <strong>Ruta de proceso:</strong><br>
      <%= @order.sheet_route.gsub(',','<br>').html_safe%>
    </td>
    <td colspan="2">
      <strong>Fecha Creacion</strong><br>
      <%=@order.created_at%>
    </td>
  </tr>
</table>