<p id="notice"><%= notice %></td>
<table>
  <tr>
    <td>
      <%unless @order.subprocesses.any?%>
        <%=link_to "Create subprocesses", new_order_subprocesses_path(@order)%>
      <%end%>
    </td>

  </tr>
  <tr>
    <td>
      <strong>State:</strong>
      <%= @order.state %>
    </td>

    <td>
      <strong>Weight:</strong>
      <%= @order.weight %>
    </td>

    <td>
      <strong>Repeat:</strong>
      <%= @order.repeat %>
    </td>

    <td>
      <strong>Route:</strong>
      <%= @order.route.waste %>
    </td>

    <td>
      <strong>Scheduled meters:</strong>
      <%= @order.scheduled_meters %>
    </td>

    <td>
      <strong>Date offer:</strong>
      <%= @order.date_offer %>
    </td>

    <td>
      <strong>Outsourced:</strong>
      <%= @order.outsourced_id %>
    </td>

    <td>
      <strong>Outsourced name:</strong>
      <%= @order.outsourced_name %>
    </td>

    <td>
      <strong>Outsourced tolerance down:</strong>
      <%= @order.outsourced_tolerance_down %>
    </td>

    <td>
      <strong>Outsourced tolerance up:</strong>
      <%= @order.outsourced_tolerance_up %>
    </td>

    <td>
      <strong>Order date request:</strong>
      <%= @order.order_date_request %>
    </td>

    <td>
      <strong>Order number:</strong>
      <%= @order.order_number %>
    </td>

    <td>
      <strong>Order quantity:</strong>
      <%= @order.order_quantity %>
    </td>

    <td>
      <strong>Order type:</strong>
      <%= @order.order_type %>
    </td>

    <td>
      <strong>Order um:</strong>
      <%= @order.order_um %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Order unit value:</strong>
      <%= @order.order_unit_value %>
    </td>

    <td>
      <strong>Sheet caliber:</strong>
      <%= @order.sheet_caliber %>
    </td>

    <td>
      <strong>Sheet client:</strong>
      <%= @order.sheet_client %>
    </td>

    <td>
      <strong>Sheet composite:</strong>
      <%= @order.sheet_composite %>
    </td>

    <td>
      <strong>Sheet cut type:</strong>
      <%= @order.sheet_cut_type %>
    </td>

    <td>
      <strong>Sheet film:</strong>
      <%= @order.sheet_film %>
    </td>

    <td>
      <strong>Sheet guillotine:</strong>
      <%= @order.sheet_guillotine %>
    </td>

    <td>
      <strong>Sheet height:</strong>
      <%= @order.sheet_height %>
    </td>

    <td>
      <strong>Sheet height planned:</strong>
      <%= @order.sheet_height_planned %>
    </td>

    <td>
      <strong>Sheet:</strong>
      <%= @order.sheet_id %>
    </td>

    <td>
      <strong>Sheet meters roll:</strong>
      <%= @order.sheet_meters_roll %>
    </td>

    <td>
      <strong>Sheet number:</strong>
      <%= @order.sheet_number %>
    </td>

    <td>
      <strong>Sheet print:</strong>
      <%= @order.sheet_print %>
    </td>

    <td>
      <strong>Sheet product type:</strong>
      <%= @order.sheet_product_type %>
    </td>

    <td>
      <strong>Sheet route:</strong>
      <%= @order.sheet_route %>
    </td>

    <td>
      <strong>Sheet spaces:</strong>
      <%= @order.sheet_spaces %>
    </td>

    <td>
      <strong>Sheet version:</strong>
      <%= @order.sheet_version %>
    </td>

    <td>
      <strong>Sheet width:</strong>
      <%= @order.sheet_width %>
    </td>
  </tr>
</table>

<%= render 'subprocesses/list'%>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
