<%=render 'show'%>
<ul>
<li> <%=link_to "Programar", schedule_order_path(@order), target:"_self"%> </li>
</ul>
<ul>
	<li><%= link_to "Aprobar", change_state_order_path(id:340,action:'approve')%></li>
</ul>
<%=render 'has_leftovers/list'%>
<%=render 'subprocesses/list'%>

<% link_to 'Edit', edit_order_path(@order) %>
<% link_to 'Back', orders_path %>
