<div class="schedule" ng-app="apsApp">
	<input id="IdOrder" value="<%=@order.id%>" type="hidden">
	<div ng-controller="OrdersController">
		<div class="row">
			<div class="small-12 small-centered columns" style="text-align:center">
				<ul class="button-group round">
					<%if @order.may_schedule?%>
					  <li>
					  	<%=link_to "Programar", schedule_order_path(@order), target:"_self", class:"button"%>
					  </li>
				  	<%end%>
				  	<%if @order.may_approve?%>
					  <li>
					  	<%= link_to "Aprobar", change_state_order_path(@order,'approve'), class:"button"%>
					  </li>
				  	<%end%>
				  	<%if @order.may_refuse?%>
					  <li>
					  	<%= link_to "Rechazar", change_state_order_path(@order,'refuse'), class:"button"%>
					  </li>
				  	<%end%>
				  	<%if @order.may_suspend?%>
					  <li>
					  	<%= link_to "Suspender", change_state_order_path(@order,'suspend'), class:"button"%>
					  </li>
				  	<%end%>
				  	<%if @order.may_end?%>
					  <li>
					  	<%= link_to "Terminar", change_state_order_path(@order,'end'), class:"button"%>
					  </li>
				  	<%end%>
				  	<%if @order.may_activate?%>
					  <li>
					  	<%= link_to "Activar", change_state_order_path(@order,'activate'), class:"button"%>
					  </li>
				  	<%end%>
				</ul>
			</div>
		</div>
		<%=render 'show'%>
		<%if @order.state == "rechazado" || @order.state == "suspendido"%>
		<button ng-click="updateOrderOrigin()" class="button alert">Actualizar pedido</button>
		<%end%>
		<%=render 'subprocesses/tracking'%>
		<%=render 'has_leftovers/list'%>

		<%if can? :manage, Subprocess%>
			<%=render 'subprocesses/list'%>
			<!--  -->
			<%if @order.subprocesses.any? && @order.state != "en_proceso"%>
				<%=link_to "Eliminar subprocesos",remove_subprocesses_path(@order) ,method: :delete, data: { confirm: 'Esta seguro? tenga en cuenta que tendra que volver a programar cada subproceso.' } , class:"button alert expand" %>
			<%end%>
		<%end%>

		<p class="subtitle" ng-init="show_form_modification = false">Modificaciones</p>
		<button ng-click="show_form_modification = !show_form_modification" class="button">Nueva modificación</button>
		<div ng-show="show_form_modification">
			<%= render 'modifications/form' if  user_signed_in? %>	
		</div>
		<%= render 'modifications/list'%>
		<p class="subtitle">Observaciones</p>
		<%= render 'order_comments/form' if  user_signed_in? %>
		<%= render 'order_comments/list'%>
	</div>
</div>
<%= link_to "Volver", :back ,class:"button info"%>
<script type="text/javascript">
	$(document).ready(function(){
		$('#contentMain').addClass('full-width');
		$('#dateTimeNow').text(moment().format('LL'));
		
	});
</script>

