<%= form_for(@day) do |f| %>
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% @day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :machine_id, "ID Maquina" %><br>
    <%if @machine_id.nil?%>
      <%= f.text_field :machine_id%>
    <%else%>
      <%= f.text_field :machine_id, value:@machine_id%>
    <%end%>
  </div>
  <div class="field">
    <%= f.label :day, "Dia" %><br>
    <%= f.text_field :day, class:"date" %>
  </div>
  <div class="field">
    <%= f.label :shifts, "Turnos" %><br>
    <%= f.number_field :shifts %>
  </div>
  <div class="field">
    <%= f.label :hours, "Horas por turno" %><br>
    <%= f.number_field :hours %>
  </div>
  <div class="field">
    <%= f.label :init_time, "Hora de inicio" %><br>
    <%= f.time_field :init_time %>
  </div>
  
  <div class="field">
    <% f.label :busy %><br>
    <% f.number_field :busy %>
  </div>
  <div class="field">
    <% f.label :available %><br>
    <% f.number_field :available %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar",class:"button"%>
  </div>
<% end %>
<script >
$(document).ready(function(){
  $('.date').datepicker({
    dateFormat:"yy-mm-dd"
  });  
});

</script>
