<table>
  <thead>
    <tr>
      <th>Maquina</th>
      <th>Dia</th>
      <th>Hora de inicio</th>
      <th>Turnos</th>
      <th>Horas por turno</th>
      <th>" Minutos totales</th>
      <th>" Ocupados</th>
      <th>" Disponibles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @days.each do |day| %>
      <tr>
        <td><%= day.machine.name %></td>
        <td><%= day.day %></td>
        <td><%= day.start_time %></td>
        <td><%= day.shifts %></td>
        <td><%= day.hours %></td>
        <td><%= day.minutes %></td>
        <td><%= day.busy %></td>
        <td><%= day.available %></td>
        <td><%= link_to 'Show', day %></td>
        <td><%= link_to 'Edit', edit_day_path(day) %></td>
        <td><%= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>