<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Maquina</th>
      <th>Dia</th>
      <th>Hora de inicio</th>
      <th>Turnos</th>
      <th>Horas por turno</th>
      <th>" Minutos totales</th>
      <th>" Ocupados</th>
      <th>" Disponibles</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <% @days.each do |day| %>
      <tr>
        <td><%= link_to day.id, day %></td>
        <td><%= link_to day.machine.name, day.machine %></td>
        <td><%= day.day %></td>
        <td><%= day.start_time.strftime("%I:%M%p") %></td>
        <td><%= day.shifts %></td>
        <td><%= day.hours %></td>
        <td><%= day.minutes %></td>
        <td><%= day.busy %></td>
        <td><%= day.available %></td>
        <td><%= link_to '', edit_day_path(day), class:"icon-pencil" %></td>
        <td><%= link_to '', day, method: :delete, data: { confirm: 'Esta seguro?' } , class:"icon-trash-o"%></td>
      </tr>
    <% end %>
  </tbody>
</table>