<p>
  <strong>Maquina:</strong>
  <%= @day.machine.name %>
</p>

<p>
  <strong>Dia:</strong>
  <%= @day.day %>
</p>

<p>
  <strong>Turnos:</strong>
  <%= @day.shifts %>
</p>
<p>
  <strong>Horas por turno:</strong>
  <%= @day.hours %>
</p>
<p>
  <strong>Minutos:</strong>
  <%= @day.minutes %>
</p>
<p>
  <strong>Minutos disponibles:</strong>
  <%= @day.available %>
</p>
<p>
  <strong>Minutos Ocupado:</strong>
  <%= @day.busy %>
</p>

<%= link_to 'Editar', edit_day_path(@day) %> |
<%= link_to 'Volver', days_path %>
