<table>
  <tr>
    <td>
      <strong>Maquina:</strong>
      <%= @day.machine.name %>
    </td>

    <td>
      <strong>Dia:</strong>
      <%= @day.day %>
    </td>
    <td>
      <strong>Hora inicio:</strong>
      <%= @day.start_time.strftime("%I:%M%p") %>
    </td>

    <td>
      <strong>Turnos:</strong>
      <%= @day.shifts %>
    </td>
    <td>
      <strong>Horas por turno:</strong>
      <%= @day.hours %>
    </td>
    <td>
      <strong>Minutos:</strong>
      <%= @day.minutes %>
    </td>
    <td>
      <strong>Minutos disponibles:</strong>
      <%= @day.available %>
    </td>
    <td>
      <strong>Minutos Ocupado:</strong>
      <%= @day.busy %>
    </td>
  </tr>
</table>
<%= render 'subprocesses/list'%>

<%= link_to "Volver", :back ,class:"button info"%>
