<p class="subtitle">Relacion de sobrantes</p>
<table>
  <thead>
    <tr>
      <th>ID Sobrante</th>
      <th>Pedido</th>
      <th>Cantidad</th>
      <th>Unidad de medida</th>
      <th>Ubicacion</th>
      <th>Usuario</th>
    </tr>
  </thead>
  <tbody>
    <%@has_leftovers.each do |hasLeftover|%>
      <tr>
        <td><%=link_to hasLeftover.leftover.id, hasLeftover.leftover %></td>
        <td><%=link_to hasLeftover.order.order_number, hasLeftover.order%></td>
        <td><%=hasLeftover.quantity%></td>
        <td><%=hasLeftover.leftover.um%></td>
        <td><%=hasLeftover.leftover.location%></td>
        <td><%=hasLeftover.leftover.user.name_email%></td>
      </tr>
    <%end%>
  </tbody>
</table>