<%= form_for(@standard) do |f| %>
  <% if @standard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@standard.errors.count, "error") %> prohibited this standard from being saved:</h2>

      <ul>
      <% @standard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :index %><br>
    <%if @index.nil?%>
      <%= f.number_field :index %>
    <%else%>
      <%= f.number_field :index, value:@index %>
    <%end%>    
  </div>
    <div class="field">
    <%= f.label :machine_id,"ID maquina" %><br>
    <%if @machine_id.nil?%>
      <%= f.number_field :machine_id %>
    <%else%>
      <%= f.number_field :machine_id, value:@machine_id %>
    <%end%>    
  </div>
  <label>Unidad de medida (metros)</label>
  <%=select("standard", "um", Measurement.all.collect {|p| [ p.name, p.value ] }, {include_blank: 'None'})%>
  <div class="field">
    <%= f.label :per_hour, "Por hora" %><br>
    <%= f.number_field :per_hour %>
  </div>
  <div class="field">
    <% f.label :waste,"Desperdicio ej: 0.09 = 9%" %><br>
    <% f.text_field :waste %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", class:"button" %>
  </div>
<% end %>
