<p class="subtitle">
  <%= @machine.name %>
</p>
<p><%= link_to 'Ordenar', sort_subprocess_path(@machine),target:"_self",class:"button" %></p>
<p>
  <strong>Prensa:</strong>
  <%= @machine.press %>
</p>
<p>
  <strong>Process:</strong>
  <%@machine.procedures.each do |procedure|%>
  	<br><%=link_to procedure.name, procedure%>
  <%end%>
</p>
<p>
  <strong>Estandares:</strong>
  <%=link_to "Crear Estandar", new_standard_machine_ref_path(@machine)%>
  <table>
  	<tr>
  		<th>Index</th>
  		<th>UM</th>
  		<th>Por Hora</th>
  		<th>Desperdicio</th>
  	</tr>
  <%@machine.standards.each do |standard|%>
	  <tr>
	  	<th><%=link_to standard.index, standard%></th>
	  	<th><%=standard.um%></th>
	  	<th><%=standard.per_hour%></th>
	  	<th><%=standard.waste*100%> %</th>
	  </tr>
  <%end%>
</table>
</p>
<p> <strong>Dias:</strong><br>
  <%= link_to "Habilitar Dia", new_day_machine_ref_path(@machine)%>
<%= render 'days/list'%></p>


<%= link_to "Volver", :back ,class:"button info"%>
