<div id="foo"></div>
<div ng-app="apsApp" ng-controller="machinesController">
	<div class="row">
		<div class="small-12 small-centered columns">
			<div class="row">
				<div class="small-11 columns">
					<div class="subtitle">
						<!-- links others machines -->
						<%=@machine.name%>
						<%procedure_machines = @machine.procedures.first.machines%>	
						<%procedure_machines.each do |machine|%>
							<%= link_to machine.name, sort_subprocess_path(machine), target:"_self",class:"label"%>
						<%end%>	
					</div>
				</div>
				<div class="small-1 columns">
					<!-- options +change machine  -->
					<div style="width: 50px;margin: 1rem auto;text-align: center;font-size: 2rem;">
						<a href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="icon-ellipsis-v"></a>	
					</div>
					
					<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
					  <li><a href="#" data-reveal-id="modalChangeMachine" ng-click="collectSubprocessesToMove()">Mover de maquina</a></li>
					  <li> <a href="#" id="btnUpdateInfoDays">Actualizar info</a> </li>
					</ul>
					<!-- Modal //cambio de maquina -->
					<div id="modalChangeMachine" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
						  <h2 id="modalTitle">Cambiar pedidos de maquina.</h2>
						  <form id="formMoveSubprocess"name="form" class="css-form" ng-show="subprocessesToMove.length > 0" novalidate>
						  	<div class="name-field" ng-repeat="error in subprocessesErrors">
						  		<small class="error">{{error}}</small>
						  	</div>
						  	<div class="name-field">
						  		<label>Subprocesos a mover.</label>
							  	<div ng-repeat="subproces in subprocessesToMove">
							  		<span class="label" style="font-size:1rem;float:left">{{subproces.name}}</span>
							  	</div>	
						  	</div><br>
						  	<div class="name-field">
						  		<label>Seleccione la maquina a la cual desea enviar los subprocesos.</label>
							  	<select ng-model="targetMachine" name="tMachine" required="">
									<%procedure_machines.each do |machine|%>
										<%= "<option value='#{machine.id}'> #{machine.name} </option>".html_safe if machine.standards.any? && machine.name != @machine.name%>
									<%end%>
								</select>
								<div ng-show="form.$submitted || form.tMachine.$touched">
						      		<small ng-show="form.tMachine.$error.required" class="error">Selecciona una maquina.</small>
						    	</div>
						  	</div><br>
							<button ng-click="moveSubprocesses(form)" type="submit" class="button success expand">Cambiar de maquina</button>	
						  </form>
						  <p ng-show="subprocessesToMove.length == 0">No hay subprocesos seleccionados...</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns">
			<div class="content-clipboard">
				<div id="result"></div>
			    <ul class="sortable" id="clipboard" style="width:170px">
			    	<ul class="button-group">
					  <li><button ng-click="saveChanges('all')" class="button success tiny"> <i class="icon-floppy-o">Todos</i></button></li>
					  <li><button ng-click="saveChanges()" class="button tiny"> <i class="icon-floppy-o"></i> </button></li>
					</ul>
			    	<label id="labelItemClipboard">vacio</label>
			    </ul>
			    <label id="dateTimeNow" style="color:gray"><label>
			</div>
		</div>
		<div class="small-10 columns">
			<div class="head-subprocess">
				<div class="handle">
					<span class="ui-icon  ui-icon-blank"></span>
				</div>
				<table class="table-record-subprocess">
					<tr>
						<th>#</th>
						<th>PEDIDO</th>
						<th>TIPO</th>
						<th>CLIENTE</th>
						<th>FICHA</th>
						<th>METROS</th>
						<th>MINUTES</th>
						<th>F SOLICITADA</th>
						<th>CABIDAS</th>
						<th>FECHA I</th>
						<th>FECHA PRO ANT</th>
					</tr>
				</table>
			</div>

			<div class="days">
				<%days_disabled = AppSetting.first.blocked_days%>
				<%@machine.days.order(:day).where('day > ?',DateTime.now-AppSetting.first.days_back).each_with_index do |day,index|%>
					<ul id="sortable<%=day.id%>" class="sortable connectedSortable" minutes="<%=day.minutes%>" minutes-available="" minutes-occupied="" day="<%=day.day%>" start-time="<%=day.init_time%>" id-day="<%=day.id%>">
						<div class="row">
							<div class="small-4 columns">
									<label class="date"></label>
							</div>
							<div class="small-2 columns">
								<label class="equivalence"></label>
							</div>
							<div class="small-6 columns">
								<div class="progress small-6 alert round">
									<span class="meter">
										<p class="percent"></p>
									</span>
								</div>
							</div>
						</div>
						<%day.subprocesses.order(:sequence).each do |subprocess|%>
							<!-- ui-state-disabled #for bloqueados -->
					  		<li id="item_<%=subprocess.id%>" minutes="<%=subprocess.minutes+subprocess.setup_time%>" class="ui-state-default <%="ui-state-disabled" if index < days_disabled%>" style="<%=status_subprocess(subprocess.state,subprocess.quantity_finished)%>">
					  			<table class="table-record-subprocess">
				  					<tr style="<%="border-left:3px solid #663399" unless subprocess.order.sheet_print%>">
				  						<td><%=subprocess.sequence%></td>
				  						<td >
				  							K<%=subprocess.order.order_number%>
				  							<%="(SALDO #{subprocess.order.repeat-1})" if subprocess.order.repeat > 1%>
				  						</td>
				  						<td><%=subprocess.order.order_type%></td>
				  						<td><%=subprocess.order.outsourced_name[0..15]%></td>
				  						<td><%="#{subprocess.order.sheet_client}-#{subprocess.order.sheet_number}"%></td>
				  						<td><%=subprocess.meter%> MTR</td>
				  						<td><%=subprocess.minutes + subprocess.setup_time%> "</td>
				  						<td><%=subprocess.order.order_date_request%></td>
				  						<td><%=subprocess.order.sheet_spaces%> Cab</td>
				  						<td>
				  							<%order_sheet_route = ""%>
				  							<%subprocess.order.subprocesses.each do |order_subprocess|%>
				  								<%order_sheet_route = order_sheet_route + order_subprocess.procedure.name+":"%>
				  								<%order_sheet_route = order_sheet_route + order_subprocess.day.day.to_s+" " unless order_subprocess.day_id.nil?%>
				  							<%end%>
				  							<span data-tooltip aria-haspopup="true" class="has-tip" title="<%=order_sheet_route%>">
				  								<%=subprocess.start_date.strftime("%F %I:%M%p")%>
				  							</span>
				  							
				  						</td>
				  					

				  						<td style="color:#f04124">
				  							<!-- validar si tiene un proceso anterior -->
				  							<%if subprocess.order.subprocesses.find_by(sequence_process:subprocess.sequence_process-1)%>
				  								<%=subprocess.order.subprocesses.find_by(sequence_process:subprocess.sequence_process-1).end_date.strftime("%F %I:%M%p") if subprocess.order.subprocesses.find_by(sequence_process:subprocess.sequence_process-1).end_date%>
				  							<%end%>
				  						</td>
				  					</tr>
			  					</table>
					  		</li>
					  	<%end%>
					</ul>
				<%end%>
			</div><!-- end .days -->
		</div>
	</div>
</div><!--end ng-app -->
<div id="ModalProgressUpdatingSubprocesses" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h2 id="modalTitle">Actualizando...</h2>
	<div id="progressUpdateSubprocesses" class="progress">
	  <span class="meter"></span>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#contentMain').addClass('full-width');
		$('#dateTimeNow').text(moment().format('LL'));
		
	});
</script>
