<p class="subtitle"><%=@machine.name%>
<%@machine.procedures.first.machines.each do |machine|%>
	<%= link_to machine.name, sort_subprocess_path(machine), target:"_self",class:"label"%>
<%end%>
</p>
<div id="foo"></div>
<div ng-app="apsApp">
	<div class="row" ng-controller="machinesController">
		<div class="small-2 columns">
			<div class="content-clipboard">
				<div id="result"></div>
			    <ul class="sortable" id="clipboard">
			    	<button ng-click="saveChanges()" class="button success tiny" style="width:100%">Guardar cambios</button>
			    	<label id="labelItemClipboard">vacio</label>
			    </ul>
			    <label id="dateTimeNow" style="color:gray"><label>
			</div>
		</div>
		<div class="small-10 columns">
			<div class="head-subprocess">
				<div class="handle"><span class="ui-icon  ui-icon-blank"></span></div>
				<table class="table-record-subprocess">
					<tr>
						<th>#</th>
						<th>PEDIDO</th>
						<th>TIPO</th>
						<th>CLIENTE</th>
						<th>FICHA</th>
						<th>METROS</th>
						<th>MINUTES</th>
						<th>F SOLICITADA</th>
						<th>CABIDAS</th>
						<th>FECHA I</th>
						<th>FECHA PRO ANT</th>
					</tr>
				</table>
			</div>

			<div class="days">
				<%days_disabled = AppSetting.first.blocked_days%>
				<%@machine.days.order(:day).where('day > ?',DateTime.now-AppSetting.first.days_back).each_with_index do |day,index|%>
					<ul id="sortable<%=day.id%>" class="sortable connectedSortable" minutes="<%=day.minutes%>" minutes-available="" minutes-occupied="" day="<%=day.day%>" start-time="<%=day.init_time%>" id-day="<%=day.id%>">
						<div class="row">
							<div class="small-4 columns">
									<label class="date"></label>
							</div>
							<div class="small-2 columns">
								<label class="equivalence"></label>
							</div>
							<div class="small-6 columns">
								<div class="progress small-6 alert round">
									<span class="meter">
										<p class="percent"></p>
									</span>
								</div>
							</div>
						</div>
						<%day.subprocesses.order(:sequence).each do |subprocess|%>
							<!-- ui-state-disabled #for bloqueados -->
					  		<li id="item_<%=subprocess.id%>" minutes="<%=subprocess.minutes+subprocess.setup_time%>" class="ui-state-default <%="ui-state-disabled" if index < days_disabled%>" style="<%=status_subprocess(subprocess.state,subprocess.quantity_finished)%>">
					  			<table class="table-record-subprocess">
				  					<tr style="<%="border-left:3px solid #663399" unless subprocess.order.sheet_print%>">
				  						<td><%=subprocess.sequence%></td>
				  						<td >
				  							K<%=subprocess.order.order_number%>
				  						</td>
				  						<td><%=subprocess.order.order_type%></td>
				  						<td><%=subprocess.order.outsourced_name[0..15]%></td>
				  						<td><%="#{subprocess.order.sheet_client}-#{subprocess.order.sheet_number}"%></td>
				  						<td><%=subprocess.meter%> MTR</td>
				  						<td><%=subprocess.minutes + subprocess.setup_time%> "</td>
				  						<td><%=subprocess.order.order_date_request%></td>
				  						<td><%=subprocess.order.sheet_spaces%> Cab</td>
				  						<td><%=subprocess.start_date.strftime("%F %I:%M%p")%></td>
				  					

				  						<td style="color:#f04124">
				  							<!-- validar si tiene un proceso anterior -->
				  							<%if subprocess.order.subprocesses.find_by(sequence_process:subprocess.sequence_process-1)%>
				  								<%=subprocess.order.subprocesses.find_by(sequence_process:subprocess.sequence_process-1).end_date.strftime("%F %I:%M%p") if subprocess.order.subprocesses.find_by(sequence_process:subprocess.sequence_process-1).end_date%>
				  							<%end%>
				  						</td>
				  					</tr>
			  					</table>
					  		</li>
					  	<%end%>
					</ul>
				<%end%>
			</div>
		</div>
	</div>
</div>
<div id="ModalProgressUpdatingSubprocesses" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h2 id="modalTitle">Actualizando...</h2>
	<div id="progressUpdateSubprocesses" class="progress">
	  <span class="meter"></span>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#contentMain').addClass('full-width');
		$('#dateTimeNow').text(moment().format('LL'));
		
	});
</script>
