<div ng-app="apsApp">
	<div ng-controller="machinesController">
		<p class="subtitle">
			PEDIDOS POR HACER EN: 
			<strong style="color:#008CBA"><%=@machine.name%></strong>
		</p>
		<p id="dateTimeNow"></p>
		<table>
			<tr>
				<th>ID</th>
				<th>#</th>
				<th>PEDIDO</th>
				<th>TIPO</th>
				<th>CLIENTE</th>
				<th>FICHA</th>
				<th>METROS</th>
				<th>MINUTES</th>
				<th>PELICULA</th>
				<th>CABIDAS</th>
				<th>FECHA I</th>
				<th>FECHA F</th>
				<th>ESTADO</th>
				<th>TERMINAR</th>
			</tr>
			<%@count = 0%>
			<%@machine.days.order(:day).each do |day|%>
				<%day.subprocesses.scheduled.order(:sequence).each do |subprocess|%>
					<tr id="subprocess<%=subprocess.id%>">
						<td><%=link_to subprocess.id, subprocess%></td>
						<td><%= @count += 1 %></td>
						<td>K<%=subprocess.order.order_number%></td>
						<td><%=subprocess.order.order_type%></td>
						<td><%=subprocess.order.outsourced_name%></td>
						<td><%="#{subprocess.order.sheet_client}-#{subprocess.order.sheet_number}"%></td>
						<td><%=subprocess.meter%> MTR</td>
						<td><%=subprocess.minutes + subprocess.setup_time%>"</td>
						<td><%="#{subprocess.order.sheet_film} #{subprocess.order.sheet_caliber}"%></td>
						<td><%=subprocess.order.sheet_spaces%> Cab</td>
						<td><%=subprocess.start_date.strftime("%F %I:%M%p")%></td>
						<td><%=subprocess.end_date.strftime("%F %I:%M%p")%></td>
						<td><%=subprocess.state%></td>
						<td><button ng-click="endSubprocess(<%=subprocess.id%>)" class="button success tiny">TERMINAR</button></td>
					</tr>
				<%end%>
			<%end%>
		</table>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#contentMain').addClass('full-width');
		moment.locale('es');
		$('#dateTimeNow').text(moment().format('LL'));
		
	});
</script>