<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" class="icon-rocket">
    <title><%= content_for?(:title) ? yield(:title) : "APS::SuprapakApps" %></title>
    
    <script src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.8/angular-resource.min.js"></script>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/zf/dt-1.10.10/datatables.min.css"/> 
    <script type="text/javascript" src="https://cdn.datatables.net/s/zf/dt-1.10.10/datatables.min.js"></script>
    <link href="https://file.myfontastic.com/PvSyB8fRJxTh7ekCZh3LHZ/icons.css" rel="stylesheet">

    <%= csrf_meta_tags %>

  </head>

  <body>
    <%= render 'partials/nav'%>
    <div id="contentMain" class="row content-main" >
      <div class="small-12 columns">
        <!-- alerts -->
        <%if notice %>
          <div data-alert class="alert-box">
            <%= notice %>
            <a href="#" class="close">&times;</a>
          </div>
        <%end%>
        <%if alert %>
          <div data-alert class="alert-box alert">
            <%= alert %>
            <a href="#" class="close">&times;</a>
          </div>
        <%end%>
        <!-- loading -->
        <div id="foo"></div>

        <%= yield %>    
      </div>
      
    </div>
    

  </body>
  <script type="text/javascript">
  $(function(){ $(document).foundation(); });
  </script>
</html>
