<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "APS::SuprapakApps" %></title>
    
    <script src="http://momentjs.com/downloads/moment.min.js"></script>

    <script src="http://localhost/angular/angular.min.js"></script>
    <script src="http://localhost/angular/angular-route.min.js"></script>
    <script src="http://localhost/angular/angular-resource.min.js"></script>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/zf/dt-1.10.10/datatables.min.css"/> 
    <script type="text/javascript" src="https://cdn.datatables.net/s/zf/dt-1.10.10/datatables.min.js"></script>
    

    <%= csrf_meta_tags %>

  </head>

  <body>
    <div class="row">
      <div class="small-12 columns">
        <%= yield %>    
      </div>
      
    </div>
    

  </body>
</html>
